# Environment
.env
.env.local

# Data layers (nunca versionar dados brutos)
data/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.egg-info/
dist/
build/

# Node / NestJS (Dia 8)
node_modules/
dist/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db